RewriteEngine On
RewriteBase /internacional/

RewriteRule ^(api|css|img|assets|uploads|includes|config|database)(/|$) - [L]
RewriteRule ^views/([a-z0-9_]+)\.php$ ?_route=$1 [R=302,L,QSA,NC]
RewriteCond %{REQUEST_URI} !/index\.php$ [NC]
RewriteRule ^([a-z0-9_]+)\.php$ ?_route=$1 [R=302,L,QSA,NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L,QSA]
